.ly_footer {
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #000;
  background-size: auto;
  background-position: center;
}

.ly_footer_inner {
  margin: auto;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
